<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="img/logo.png">
    <meta charset="utf-8">
    <title>About</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300');
</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light " style="background: rgb(204,214,215);
background: linear-gradient(180deg, rgba(204,214,215,1) 50%, rgba(196,214,218,1) 100%);">
    <div class="container">
      <p id="p1"class="navbar-brand" >
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Switchr
    </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav mr-auto">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/product">Product</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
        <div class="avatar">
         <a href="https://www.linkedin.com/in/toni-golloshi/" target="_blank">
           <img src="img/Toni1.jpg" alt="My pic" />
         </a>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3" align="center">
        <h2> Toni Golloshi </h2>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-12 color1">
      <h3 align="center" class="pt-2"> Why did I create this app?</h3>
      <p class="par1">I created this app because i felt the need for an app like this. I am constantly worried about having the door unlocked. I did some research to see if there are apps that do this sort of stuff. The answer is yes and no. There are apps that allow you to do this, but none of them offer these features. They are more like the traditional reminder app that you find on your phone. Switchr is specialized for this issue.</p>
    </div>
  </div>
    <div class="row mt-3">
     <div class="col-md-8">
      <div class="color2">
       <h3 align="center"> Education</h3>
        <p class="par2">2015 - 2017: Faculty of Natural Sciences, University of Tirana (Albania)<br/>
                Master of Professional Studies in Business Informatics
                Basic technology, Business informatics methods, Management & Applications<br/><br/>
                2012 - 2015: Faculty of Natural Sciences, University of Tirana  (Albania)   <br/>
                Bachelor of Science in Informatics
                Programming, Computer systems, Computer networks, Database Design and Implementation, Software Project Management</p>
       </div>
     </div>
     <div class="col-md-4">
      <div class="color3">
        <h3 align="center"> Technical Proficiencies</h3>
       <p align="center" class="par3"> Adobe Photoshop CC<br/> Adobe Illustrator CC<br/>Adobe Illustrator CC<br/> Sketch <br/> InVision <br/></p>
      </div>
     </div>
    </div>

  <div class="row">
        <div class="col-md-12">
          <div class="color4">
            <h3 align="center">Work Experience</h3>
            <p class="par4" align="center">2017:  National beauty pageant ‘Miss Shqipëria’ Official Photographer <br/>
               2016-2017:  Event and documentary photographer for Swiss Contact Albania <br/>
              2016-2017: Head of Photography Department at Ami Event <br/>
              2015-2017: Multiple photographic services for various companies including
              PwC Albania, Fiber, Smartcom and Tirana Bank <br/>
              2013-2017: Collaboration with one of the Big 3 wedding and event planning agencies in Albania - Ami Event <br/>
              2014: Miss Shqipëria beauty pageant Official and Tour Photographer <br/>
              2013: Miss Shqipëria beauty pageant Tour Photographer <br/>
              2013: Miss Globe beauty pageant Tour Photographer <br/>
              2012-2017: Part-time helping and assisting at Foto Algo Studio, my family business. </p>
          </div>
        </div>
      </div>

  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>
</html>
